.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #BDBDBD;
}

body {
    min-height: max(884px, 100dvh);
}