/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d1c4b6;
    border-radius: 20px;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #4a4540;
}